plugins = []
headers = []
redirects = []

[functions]

[functions."*"]

[build]
publish = "/home/fvegiard/Documents/GitHub/presentation-petroles-maurice"
publishOrigin = "default"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]